repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.12
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format

  - repo: local
    hooks:
      - id: custom-python-check
        name: check ingredients csv
        entry: uv run python check_ingredients_csv.py
        language: system
        always_run: true

  - repo: local
    hooks:
      - id: custom-python-check
        name: check recipe yamls
        entry: uv run python check_recipe_yamls.py
        language: system
        always_run: true
