name: 'Delete NomStats'

on:
  workflow_dispatch:

jobs:
  delete-resources:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v3

      - name: 'Login to Azure using Azure CLI'
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Delete Resources'
        run: |
          # Define variables
          resource_group="rg-nom-stats"

          # Step 0: Delete resource group
          az group delete -n ${resource_group} --yes
